@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    user-select: none;
}
:root{
    --main-color: #81e68f;
    --text-color: #171427;
    --bg-color: #fff;
    --red: #f00;
}
/* Scrollbar */
::-webkit-scrollbar {
    width: 14px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #adadad; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e; 
  }
img{
    width: 100%;
}
body{
    color: var(--text-color);
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
/* Header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    box-shadow: 0 1px 6px hsl(0 4% 15% / 10%);
    z-index: 100;
}
/* Nav */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    z-index: 100;
}
.logo{
    margin-left: 2%;
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 400;
    z-index: 100;
}
.hamburger{
    margin-right: 2%;
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.hamburger span{
    display: block;
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--text-color);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: all 400ms;
}
.hamburger:hover span {
    background-color: var(--main-color);
}
.hamburger.active span:nth-child(1){
    transform: translate(0px, -1.5px) rotate(45deg);
}
.hamburger.active span:nth-child(2){
    opacity: 0;
}
.hamburger.active span:nth-child(3){
    transform: translate(-3px, 2.5px) rotate(-45deg);
}
.hamburger.active:hover span{
    background-color: var(--text-color)
}
.nav-menu{
    display: flex;
    flex-direction: row;
    position: fixed;
    top: -100%;
    list-style: none;
}
.nav-menu.active{
    max-width: 1068px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    line-height: 3rem;
    top: 4rem;
    list-style: none;
    /* box-shadow: 0 1px 6px hsl(0 4% 15% / 10%); */
}
.nav-item{
    display: inline-block;
    background-color: var(--bg-color);
    font-weight: 900;
    font-size: 25px;
    width: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: all 250ms;
}
.nav-link:hover{
    color: var(--main-color);
    text-decoration: underline;
}
.nav-item a{
    text-decoration: none;
}
section{
    padding: 4rem 0 3rem;
}
.section-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2.5rem;
}
.shop{
    margin-top: 2.5rem;
}
/* Shop Content */
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 2rem;
}
.product-box{
    position: relative;
    transition: all 300ms ease;
    border-radius: 5px;
}
.product-box:hover{
    padding: 10px;
    border: 1px  solid var(--text-color);
}
.product-img{
    -webkit-user-drag: none;    
    border-radius: 5px;
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.price{
    font-weight: 500;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    font-size: 1.1rem;
    box-shadow: 1px 0 6px hsl(0 4% 15% / 10%);
    background-color: var(--bg-color);
    color: var(--text-color);
    z-index: -1;
    text-align: center;
}
#user-icon{
    font-size: 2rem;
    /* position: fixed; */
    margin: 0.3rem;
    color: var(--text-color);
    z-index: 1;
}
a{
    font-size: 0.8rem;
    color: var(--text-color);
}